---
---

<h3><a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome.</h3>
<p>Main page.</p>
<ul>
  {% assign counter = 0 %}
  {% assign sorted_pages = (site.pages | sort: 'title', 'last') %}
  {% for page in sorted_pages %}
    {% if page.id != "" and page.id != nil %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% assign counter = counter | plus: 1 %}
    {% endif %}
  {% endfor %}
</ul>
<p>Total no: {{ counter }} {{ site.pages.size }} {{ site.html_pages.size }}</p>
