<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.github.project_tagline }}</title>
    {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>

  <body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_tagline"><a href="/" style="text-decoration:none; color: white">{{ site.github.project_tagline }}</a></h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p><a id="forkme_banner" href="{{site.github.repository_url}}/blob/master/{% if page.layout == 'default' %}{{page.path}}{% else %}{{page.relative_path}}{% endif %}">Suggest changes to this page on GitHub</a>
        Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
  </body>
</html>
